:root {
    --darkgrey-color: #1f2937;
    --white-color: #f9faf8;
    --lightgray-color: #e5e7eb;
    --blue-color: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* ==== Navbar section ==== */

nav h1 {
    padding-right: 20px;
}

nav {
    color: var(--white-color);
    display: flex;
    background-color: var(--darkgrey-color);
    padding: 20px 150px;
    font-size: 18px;
    flex: auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;

}

.logo {
    display: flex;
    justify-content: flex-start;
}

.nav-links {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

/* ==== Header section ==== */

.header {
    padding:100px 150px;
    font-size:18px;
    background-color: var(--darkgrey-color);
    color:var(--white-color);
    display:flex;
    align-items: center;
}

.header h2 {
    font-size:42px;
}

.header button {
    background-color: var(--blue-color);
    border:none;
    border-radius:5px;
    padding:10px 30px;
    color:var(--white-color);
    margin-top:15px;
    font-weight: bold;
    font-size:18px;
}
.image {
    flex:1;
    margin:0 20px;
}
.about {
    flex:1;
}

.img {
    margin:auto;
    height:250px;
    min-width:250px;
    background-color: var(--lightgray-color);
    border-radius:5px;
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--darkgrey-color);
}

/* ==== Feature / Info section ==== */

.info {
    color:var(--darkgrey-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:100px;
}

.info h2 {
    padding:30px;
    font-size: 36px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap:40px;
    margin:0 200px;
    text-align: center;
}

.card {
    max-width:250px;
}

.card div {
    border: 3px solid var(--blue-color);
    border-radius:10px;
    aspect-ratio: 1/1;
    margin-bottom:5px;
}

/* ==== Quote section ==== */



/* ==== CTA section ==== */

/* ==== footer section ==== */